<div>
  <h1> Olá essa é a resposta do pedido</p>
  
  </h1>
    <% for (const contrato of contratos) { %>
      <p>
        <%= contrato.id %><br>
        <% for (const signer of contrato.signers) { %>
          <p> assinado: <%= signer.assinado %> </p>
          <p> signer: <%= signer.signer.key %> </p>
          <p> email: <%= signer.signer.email %> </p>
          <p> name: <%= signer.signer.name %> </p>

        <% } %>
      </p>
    <% } %>
    
</div>